* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(.css-dev-only-do-not-override-14qglws).ant-input-outlined.ant-input-disabled, :where(.css-dev-only-do-not-override-14qglws).ant-input-outlined[disabled] {
    color: #fff !important;
}