* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:where(.css-14qglws).ant-input-outlined.ant-input-disabled, :where(.css-14qglws).ant-input-outlined[disabled]{
    color: #fff !important;
}